/*
	@each语句用于遍历list或者map
	语法：
	- 遍历单个list
		@each <var> in <list>
	- 遍历多个list
		@each <var1>, <var2> in <list1>, <list2>
	- 遍历map
		@each <key>, <value> in (key1: value1, key2: value1)
*/

// 遍历单个list
@each $name in (dog, pig) {
  .#{$name}-icon-1 {
    background-image: url("./icon/#{$name}.png");
  }
}

// 遍历多个list
$list1: (dog, red);
$list2: (pig, green);
@each $name, $color in $list1, $list2 {
  .#{$name}-icon-2 {
    background-image: url("./icon/#{$name}.png");
    color: $color;
  }
}

// 遍历map
@each $header, $size in (h1: 20px, h2: 18px, h3: 16px) {
  .#{$header} {
    font-size: $size;
  }
}
