/*
	@while 指令类似于 js 当中的 while 语句，用于重复进行某个操作，直到条件为假
  注意：如果 @while 是一个死循环，则会造成编辑器卡死、无法生成 css 文件的问题
*/

$num: 12;
@while $num > 0 {
  .col-#{$num} {
    // width: calc($num / 12) * 100 + #{"%"};
    // width: unquote($string: calc($num / 12) * 100 + "%");
    width: calc($num / 12) * 100%;
  }
  $num: $num - 1;
}
