/*
  插值语句，使用范围：选择器、属性名、属性值、注释等
*/

$author: "张三";
$className: "success";
$color: green;
$attr: "background";

/* 
  @author: #{$author}
*/
button.#{$className} {
  #{$attr}-color: #{$color};
}
